<div class="container">
  <h4>Currency Converter</h4>
  <form [formGroup]="currencyForm">
    <mat-form-field>
      <input [formControl]="amountControl" matInput type="number" min="0" value="1">
    </mat-form-field>

    <mat-form-field>
      <mat-label>From</mat-label>
      <mat-select [formControl]="fromControl">
        <mat-option *ngFor="let currency of currencies | keyvalue" [value]="currency.key">
          {{currency.key}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>To</mat-label>
      <mat-select [formControl]="toControl">
        <mat-option *ngFor="let currency of currencies | keyvalue" [value]="currency.key">
          {{currency.key}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <p *ngIf="resultConversion && !isLoading;" class="result-rate">
    {{resultConversion?.amount | currency: resultConversion?.from}} = {{resultConversion?.rate | currency: resultConversion?.to}}
  </p>
  <mat-spinner diameter="50" *ngIf="isLoading"></mat-spinner>
</div>

